{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}
<!-- Boton regresar -->
<div class="container">
    <div class="col mt-3">
      <a class="btn btn-dark" href="{% url 'menu-ppal' %}"><i class="bi bi-arrow-left-circle-fill "></i> Regresar</a>
    </div>
  </div>

  <!-- Titulo -->
  <h1 class="fs-3 text-center p-4 m-0">FORMATOS DE GESTIÓN</h1>

  <!-- Tarjetas de Formatos -->
  <div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                    <a href="{% static 'formatos/ENCUESTA.pdf' %}" target="_blank"> <img src="{% static 'img/pdf.png' %}" class="img-fluid rounded-start" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Encuesta</h5>
                    <p class="card-text">Esta es una encuesta que debe realizarze a los clientes para conocerlos y así ofrecer nuestr portafolio de servicios.</p>
                    <p class="card-text"><small class="text-muted">Última actualización 22/Abril/2023</small></p>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                    <a href="{% static 'formatos/ACTA VISITA A CLIENTES.pdf' %}" target="_blank"><img src="{% static 'img/pdf.png' %}" class="img-fluid rounded-start" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Acta de visita a clientes</h5>
                    <p class="card-text">Este es un formato para registrar la visita de los clientes donde se describen los acuerdos.</p>
                    <p class="card-text"><small class="text-muted">Última actualización 22/Abril/2023</small></p>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                    <a href="{% static 'formatos/PLAN DE TRABAJO.pdf' %}" target="_blank"><img src="{% static 'img/pdf.png' %}" class="img-fluid rounded-start" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Plan de trabajo</h5>
                    <p class="card-text">Este es el plan de trabajo, en donde los promotores acuerdan la menara de llevar un control sobre el PDS.</p>
                    <p class="card-text"><small class="text-muted">Última actualización 01/Junio/2014</small></p>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                    <a href="{% static 'formatos/TELEMERCADEO.pdf' %}" target="_blank"><img src="{% static 'img/pdf.png' %}" class="img-fluid rounded-start" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Telemercadeo</h5>
                    <p class="card-text">Esta es el telemercadeo, es un seguimiento para hacer a los clientes o para afiliarlos ofreciendo nuestros portafolios.</p>
                    <p class="card-text"><small class="text-muted">Última actualización 01/Junio/2014</small></p>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                    <a href="#"><img src="{% static 'img/pdf.png' %}" class="img-fluid rounded-start" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Próximamente</h5>
                    <p class="card-text">...</p>
                    <p class="card-text"><small class="text-muted">Última actualización hace 0 segundos</small></p>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                    <a href="#"><img src="{% static 'img/pdf.png' %}" class="img-fluid rounded-start" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Próximamente</h5>
                    <p class="card-text">....</p>
                    <p class="card-text"><small class="text-muted">Última actualización hace 0 segundos</small></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}